/* 
Main color: #F25C5C
Footer Color: #000000
Overlay Colors: #F25C5C at 65%
                #5C44F2
                #E69BE5
                #FF8C00
*/

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* ::-webkit-scrollbar {
  width: 0.6em;
}

::-webkit-scrollbar-thumb {
  background: #f25c5c;
  border: 0.3em solid #f25c5c;
  border-radius: 100vw;
  height: 1px;
} */

body {
  font-family: "sora", sans-serif;
}

main {
  overflow-y: scroll;
}

/* Hero */
nav {
  display: flex;
  -webkit-justify-content: flex-end;
  gap: 80px;
  padding: 30px 20px 20px 20px;
  margin-right: 50px;

  background: white;
}

.navLinks {
  font-family: "sora", sans-serif;
  font-weight: 800;
  font-size: 14px;
  text-decoration: none;
  color: #f25c5c;
}

.header {
  display: flex;
  align-items: center;
  height: 80vh;
}

.backgroundBox {
  width: 47.7%;
  height: 100%;
  /* background-color: #f25c5c; */
  background-size: 400%;
  background-image: linear-gradient(to right, #f25c5c, #f4d46c);
  position: absolute;
  z-index: -1;
  margin-left: 2%;
  /* margin-top: 2%; */
  animation: bg-animation 3s ease-in-out infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.heroText {
  display: flex;
  font-family: "Sora", sans-serif;
  font-size: 130px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  /* width: 350px; */
  height: 251px;
}

.period {
  color: #f25c5c;
}

.period2 {
  /* border-radius: 100vw; */
  height: 20px;
  width: 20px;
  background-size: 400%;
  background-image: linear-gradient(to right, #f25c5c, #f4d46c);
  margin-top: 65.5%;
  animation: bg-animation 3s ease-in-out infinite alternate;
}

/* About */

.about {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5%;
  line-height: 1.6;
  color: #f25c5c;
  font-size: 20px;
  font-weight: 300;
}

.aboutText {
  display: flex;
  justify-content: center;
  font-family: "sora", sans-serif;
  font-size: 48px;
  margin-top: 270px;
}

/* Work */



.workText {
  display: flex;
  justify-content: center;
  font-family: "sora", sans-serif;
  font-size: 48px;
  margin-top: 150px;
}

.workRow1,
.workRow2 {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: 40px;
}

.card {
  font-weight: 200;
  line-height: 2;
  max-width: 600px;
  width: 100%;
  /* height: 350px; */
  color: white;
  background-image: url(/images/christian.jpg);
  background-size: cover;
  background-position: center;
  padding: 12rem 0 0;
  border-radius: 0.35rem;
  overflow: hidden;

  transition: transform 300ms ease;
}

.card2 {
  font-weight: 200;
  line-height: 2;
  max-width: 600px;
  width: 100%;
  /* height: 350px; */
  color: white;
  background-image: url(/images/viciouscycles2.png);
  background-size: cover;
  background-position: center;
  padding: 12rem 0 0;
  border-radius: 0.35rem;
  overflow: hidden;

  transition: transform 300ms ease;
}

.card3 {
  font-weight: 200;
  line-height: 2;
  max-width: 600px;
  width: 100%;
  /* height: 350px; */
  color: white;
  background-image: url(/images/scrib2.png);
  background-size: cover;
  background-position: center;
  padding: 12rem 0 0;
  border-radius: 0.35rem;
  overflow: hidden;

  transition: transform 300ms ease;
}

.card4 {
  font-weight: 200;
  line-height: 2;
  max-width: 600px;
  width: 100%;
  /* height: 350px; */
  color: white;
  background-image: url(/images/todo2.png);
  background-size: cover;
  background-position: center;
  padding: 12rem 0 0;
  border-radius: 0.35rem;
  overflow: hidden;

  transition: transform 300ms ease;
}

/* Makes the card size scale up slightly on hover or tab */
.card:hover,
.card:focus-within,
.card2:hover,
.card2:focus-within,
.card3:hover,
.card3:focus-within,
.card4:hover,
.card4:focus-within {
  transform: scale(1.01);
}

.card-content {
  padding: 1.5em;
  background: linear-gradient(rgba(242, 92, 92, 0), rgba(242, 92, 92, 1));
}

.card-content2 {
  padding: 1.5em;
  background: linear-gradient(rgba(242, 92, 92, 0), rgba(92, 71, 221, 1));
}

.card-content3 {
  padding: 1.5em;
  background: linear-gradient(rgba(242, 92, 92, 0), rgba(234, 172, 233, 1));
}

.card-content4 {
  padding: 1.5em;
  background: linear-gradient(rgba(242, 92, 92, 0), rgba(255, 148, 18, 1));
}

.card-title {
  position: relative;
  width: max-content;
}

/* bar animation and styling */
.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: 0;
  bottom: -2px;
  width: 100%;
  background: #f25c5c;

  transform-origin: left;
  transition: transform 700ms ease;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after,
.card2:hover .card-title::after,
.card2:focus-within .card-title::after,
.card3:hover .card-title::after,
.card3:focus-within .card-title::after,
.card4:hover .card-title::after,
.card4:focus-within .card-title::after {
  transform: scaleX(1);
}

.card-body {
  color: rgba(255, 255, 255, 1);
}

/* if primary device can hover do this if not the animation will have been done already */
@media (hover) {
  .card-content,
  .card-content2,
  .card-content3,
  .card-content4 {
    transform: translateY(55%);
    transition: transform 500ms ease;
  }
  /* animates card content up into view on hover */
  .card:hover .card-content,
  .card:focus-within .card-content,
  .card2:hover .card-content2,
  .card2:focus-within .card-content2,
  .card3:hover .card-content3,
  .card3:focus-within .card-content3,
  .card4:hover .card-content4,
  .card4:focus-within .card-content4 {
    transform: translateY(0);
  }

  /* animation for tabbing in */
  .card:focus-within .card-content,
  .card2:focus-within .card-content2,
  .card3:focus-within .card-content3,
  .card4:focus-within .card-content4 {
    transition-duration: 0ms;
  }

  .card-content > *:not(.card-title),
  .card-content2 > *:not(.card-title),
  .card-content3 > *:not(.card-title),
  .card-content4 > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  .card:hover .card-content > *,
  .card:focus-within .card-content > *,
  .card2:hover .card-content2 > *,
  .card2:focus-within .card-content2 > *,
  .card3:hover .card-content3 > *,
  .card3:focus-within .card-content3 > *,
  .card4:hover .card-content4 > *,
  .card4:focus-within .card-content4 > * {
    opacity: 1;
  }

  .card-title::after {
    transform: scaleX(0);
  }
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #f25c5c;
  padding: 0.25em 1.25em;
  border-radius: 0.25em;
}

.button:hover,
.button:focus {
  background-color: #f19090;
}

/* Footer */

.footContainer {
  width: 95%;
  height: 450px;
  background-color: black;
  margin: 150px auto 50px auto;
  line-height: 3;
}

.footerText {
  color: white;
  text-align: center;
  font-size: 48px;
}

.footerText2 {
  color: white;
  text-align: center;
  font-size: 36px;
}

.footerMail {
  text-decoration: none;
  color: #f25c5c;
}

.footerLinks {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 50px;
}

#link1,
#link2 {
  text-decoration: none;
  color: #f25c5c;
}

.copyright {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
/* Resume */

/* Mobile Build */

@media (max-width: 872px) {
  nav {
    gap: 35px;
  }
  .workRow1,
  .workRow2 {
    flex-direction: column;
  }

  .heroText {
    font-size: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  nav {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .aboutText {
    margin-bottom: 30px;
    margin-top: 150px;
  }

  .aboutContainer {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    /* text-align: justify; */
  }

  .card-title {
    font-size: 29px;
    margin-bottom: 7px;
  }

  #christian {
    font-size: 18px;
  }

  .footContainer {
    line-height: 2;
    font-size: 16px;
  }

  .footerMail {
    font-size: 26px;
  }

  .card,
  .card2,
  .card3,
  .card4 {
    line-height: 1.5;
  }

  .card-body {
    margin-bottom: 6px;
  }

  .period2 {
    margin-top: 66%;
    height: 15px;
    width: 15px;
  }
}
