/* 
Main color: #F25C5C
Footer Color: #000000
Overlay Colors: #F25C5C at 65%
                #5C44F2
                #E69BE5
                #FF8C00
*/

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* Hero */
nav {
  display: flex;
  justify-content: end;
  gap: 80px;
  padding: 20px;
  margin-right: 50px;
}

/* a:link {
  font-family: "sora", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #f25c5c;
} */

.header {
  display: flex;
  align-items: center;
  height: 80vh;
}

.backgroundBox {
  width: 44.3%;
  height: 100%;
  background-color: #f25c5c;
  position: absolute;
  z-index: -1;
  margin-left: 2%;
  /* margin-top: 2%; */
}

.heroText {
  font-family: "Sora", sans-serif;
  font-size: 125px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  width: 415px;
  height: 251px;
}

.period {
  color: #f25c5c;
}

/* About */

/* Work */

.workExamples {
  margin-left: 100px;
  margin-bottom: 100px;
}

.workText {
  font-family: "sora", sans-serif;
  font-size: 48px;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 250px;
}

.card {
  line-height: 2;
  max-width: 600px;
  /* height: 350px; */
  color: white;
  background-image: url(/images/christian.jpg);
  background-size: cover;
  padding: 18rem 0 0;
  border-radius: 0.35rem;
  overflow: hidden;

  transition: transform 300ms ease;
}

/* Makes the card size scale up slightly on hover or tab */
.card:hover,
.card:focus-within {
  transform: scale(1.005);
}

.card-content {
  padding: 1.5em;
  background: linear-gradient(rgba(242, 92, 92, 0), rgba(242, 92, 92, 1));
  transform: translateY(55%);
  transition: transform 500ms ease;
}

/* animates card content up into view on hover */
.card:hover .card-content,
.card:focus-within .card-content {
  transform: translateY(0);
}

/* animation for tabbing in */
.card:focus-within .card-content {
  transition-duration: 0ms;
}

.card-content > *:not(.card-title) {
  opacity: 0;
  transition: opacity 500ms linear;
}

.card:hover .card-content > *,
.card:focus-within .card-content > * {
  opacity: 1;
}

.card-title {
  position: relative;
  width: max-content;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: 0;
  bottom: -2px;
  width: 100%;
  background: #f25c5c;
  transform: scaleX(0);

  transform-origin: left;
  transition: transform 500ms ease;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
  transform: scaleX(1);
}

.card-body {
  color: rgba(255, 255, 255, 0.8);
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #f25c5c;
  padding: 0.25em 1.25em;
  border-radius: 0.25em;
}

.button:hover,
.button:focus {
  background-color: #f19090;
}

/* Contact */

/* Footer */

/* Resume */

/*  */
